.container{
display: grid;
grid-template-columns: 200px 100px 300px 200px 200px;
grid-template-rows: 200px 100px;
}

.item {
    border: 5px solid red;
    counter-increment: item;
}

.item::before {
    content: counter(item);
}


.item:nth-of-type(4) {
    border-color: blue;
    grid-column: 1 / 1;   
   }